/* navbar*/
.navbar-brand {font-family: viga;
font-size: 30px;
}

.nav-link {text-transform: uppercase;
    margin-right: 30px;

}

/*desktop versi*/
@media (min-width: 992px) { 

    .nav-link {text-transform: uppercase;
        margin-right: 30px;
    }
}
.navbar-brand
 {<span class="border border-primary"></span>
 font-size: 50px;